<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>about</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa "></i>Prajwal's Nutrition Assistant</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="dashboard"><h2>Nutrition Assistant</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Food Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/track">Daily Tracker</a>
              </li><li class="nav-item">
                <a class="nav-link" href="/diary">Personal Diary</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h1>{{  msg1  }}</h1></br>
            <h1>About Us</h1>
            <span>Our main aim is to make the you consume all the Nutrients that your body required</span>
          </div>
        </div>
      </div>
    </div>
<div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Your nutrient analyst</span>
                    <h2>Get to know about <em>your food intake</em></h2>
                    <p>We provide you the information based on the food input.You can check the food contents by uploding the food image/ image URL/ food name.</p><p>
                    We also provide the service to track your daily food and Nutrition intake. You can then view your total nutrient consumption per day or week.</p>
                    <a href="/dashboard" class="filled-button">Read More</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="static/assets/images/about-image.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    <div class="more-info about-info">
      <div class="container">
        
          <div class="col-md-12">
            <div class="more-info-content">

                    <h2>Some usefull Information</h2></br></br><h2> <em></em></h2>
 <table>
      <tr>             
                
                  
                    <h3>There are 6 essential nutrients that the body needs to function properly. Nutrients are compounds in foods essential to life and health, providing us with energy, the building blocks for repair and growth and substances necessary to regulate chemical processes.</h3></br><h3>
                    <h3>



There are six major nutrients: Carbohydrates (CHO), Lipids (fats), Proteins, Vitamins, Minerals, Water.</h3></br><h3>

Proteins: meat, dairy, legumes, nuts, seafood and eggs</h3></br><h3>
Carbohydrates: pasta, rice, cereals, breads, potatoes, milk, fruit, sugar</h3></br><h3>
Lipids (most commonly called fats): oils, butter, margarine, nuts, seeds, avocados and olives, meat and seafood</h3></br><h3>
Vitamins: common vitamins include the water soluble B group vitamins and vitamin C and the fat soluble vitamins A, D, E and K</h3><h3>
</h3></br><h3>
Fruits and vegetables are generally good sources of Vitamin C and A and folic acid (a B group vitamin)
Grains and cereals are generally good sources of the B group vitamins and fibre
Full-fat dairy and egg yolks are generally sources of the fat soluble vitamins A, D and E
Milk and vegetable or soya bean oil are generally good sources of vitamin K, which can also be synthesised by gut bacteria</h3></br><h3>
Minerals: (sodium, calcium, iron, iodine, magnesium, etc.): all foods contain some form of minerals.
Milk and dairy products are a good source of calcium and magnesium
Red meat is a good source of iron and zinc
Seafood and vegetables (depending on the soil in which they are produced) are generally good sources of iodine</h3></br><h3>
Water: As a beverage and a component of many foods, especially vegetables and fruits.</h3>
                    </td>
</table>
                  </div>
                </div>
                
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Starts Here -->
     <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            
            
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Developer details</h4>
            <ul class="loca">
                      <li>
                        <a href="#"></a>Prajwal G B</li>
                        <li>
                          <a href="#"></a>(+91 9731211107) </li>
                          <li>
                            <a href="contactprajwalgb@gmail.com"></a>contactprajwalgb@gmail.com</li>
                          </ul>
          </div>
          
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="/contact1" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="YourName" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="Email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input class="form-control" placeholder="Phone Number" type="text" name="PhoneNumber">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="Message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="static/assets/js/custom.js"></script>
    <script src="static/assets/js/owl.js"></script>
    <script src="static/assets/js/slick.js"></script>
    <script src="static/assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>