<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Prajwal's Nutrition Assistant</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id=>
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            
          <a class="navbar-brand" <h2>Prajwal's Nutrition Assistant</h2></a>
          </div>
          <div class="col-md-4">
            <ul class="navbar-nav ml-auto">

            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard
                  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="services">Food Services</a>
              </li>                          
              <li class="nav-item">
                <a class="nav-link" href="track">Daily Tracker</a>
              </li><li class="nav-item">
                <a class="nav-link" href="/diary">Personal Diary</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://kenwheeler.github.io/slick/slick/slick.js"></script>
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h4>  </h4>

                  <h4>Food Details<br>&amp; Nutrient</h4>
                  <h4>{{  msg1  }}</h4></br>
                  <p>If you enter the image of the food we can give you the list of nutrient values it has. we also provide a service that can 
                  tell you the list of ingridents just by entering the food name</p>
                  <a href="services" class="filled-button">Check here</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6> </h6>
                  <h4>Track your food<br>&amp;Assist you</h4>
                  <h4>{{  msg1  }}</h4></br>
                  <p>We provide a service where you can enter your daily intake of food as per your schedule.Then we store the nutrients and calories that you consume. You can track daily/ weekly intake of total nutrients.</p>
                  <a href="track" class="filled-button">click here</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6> </h6>
                  <h4>Healthy World<br>&amp; Healthy People</h4>
                  <h4>{{  msg1  }}</h4></br>
                  <p>Our services provide you the nutrients details. Our aim is make awair of importance of nutrients. Every one should intake the 
                  sufficient amount of nutrients required as per the body requirments</p>
                  <a href="about" class="filled-button">learn more</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>


    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our <em>Services</em></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="static/assets/images/service_01.jpg" alt="">
              <div class="down-content">
                <h4>Food nutrient value</h4>
                <p>If you enter the food name/ image/ image URL we will give the information about the food and its nutrients </p>
                <a href="services" class="filled-button">Open service</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="static/assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <h4>Daily nutrient tracker</h4>
                <p>enter the food you consumed and we Will track the food and store the total nutrients . You can then watch the total intake of the day</p>
                <a href="track" class="filled-button">Open service</a>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>


     <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            
            
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Developer details</h4>
            <ul class="loca">
                      <li>
                        <a href="#"></a>Prajwal G B</li>
                          <li>
                            <a href="contactprajwalgb@gmail.com"></a>contactprajwalgb@gmail.com</li>
                          </ul>
          </div>
          
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="/contact1" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="YourName" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="Email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input class="form-control" placeholder="Phone Number" type="text" name="PhoneNumber">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="Message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="static/assets/js/custom.js"></script>
    <script src="static/assets/js/owl.js"></script>
    <script src="static/assets/js/slick.js"></script>
    <script src="static/assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>